<template>
  <div>
    <div>
      <div class="w-100 h-100 align-items-center">
        <div class="preview" v-show="model.previewSrc">
          <!-- https://github.com/fengyuanchen/cropperjs#options -->
          <vue-cropper
            ref="cropperRef"
            :src="model.previewSrc"
            :view-mode="1"
            :minCropBoxWidth="350"
            :minCropBoxHeight="350"
          />
          <button id="moving" @click="trimming" class="btn btn-light" :disabled="model.isRunning">
            画像を切り取る
          </button>
        </div>
      </div>

      <div>
        <input type="file" class="form-control" @change="selectImage" :disabled="model.isRunning" />
      </div>
    </div>
    <template v-if="model.isRunning">
      <div class="loader">Now loading...</div>
    </template>
    <template>
      <div id="edit" v-show="model.previewSrc && !model.isRunning">
        <div>
          <label>しきい値: </label> <input type="range" max="300" v-model="model.threshold" />
          <input type="number" v-model="model.threshold" />
        </div>
        <div>
          <label>明るさ: </label> <input type="range" max="10" step="0.1" v-model="model.contrast" />
          <input type="number" v-model="model.contrast" />
        </div>

        <div>
          <button class="btn btn-success btn-sm" @click="trimming" :disabled="model.isRunning">画像を切り取る</button>
        </div>
      </div>
    </template>
    <div class="preview center-block">
      <canvas
        ref="previewCanvasRef"
        id="canvas"
        class="img-canvas"
        :width="model.viewCanvasWidth"
        :height="model.viewCanvasHeight"
      ></canvas>
      <canvas
        ref="beforePreviewCanvasRef"
        id="beforeCanvas"
        class="img-canvas"
        :width="model.viewCanvasWidth"
        :height="model.viewCanvasHeight"
      ></canvas>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, computed } from '@vue/composition-api';
import 'cropperjs/dist/cropper.css';
import VueCropper from 'vue-cropperjs';
import ImageJS from 'image-js';

export default defineComponent({
  name: 'HomeView',
  components: {
    VueCropper,
  },
  props: {},
  setup(cts, props) {
    const cropperRef = ref();
    const previewCanvasRef = ref();

    const model = reactive<{
      previewSrc: string;
      trimedSrc: string;
      isRunning: boolean;
      threshold: number;
      contrast: number;
      lowThreshold: number;
      highThreshold: number;
      viewCanvasWidth: number;
      viewCanvasHeight: number;
    }>({
      previewSrc: '',
      trimedSrc: '',
      isRunning: false,
      threshold: 128,
      contrast: 1,
      lowThreshold: 20,
      highThreshold: 50,
      viewCanvasWidth: 500,
      viewCanvasHeight: 780,
    });

    const selectImage = (event: Event): void => {
      const target = event.target as HTMLInputElement;
      const imageFile = (target.files as FileList)[0];

      const reader = new FileReader();
      reader.onload = (): void => {
        model.previewSrc = reader.result as string;

        cropperRef.value?.replace(reader.result);
      };
      reader.readAsDataURL(imageFile);
    };

    const trimming = (): void => {
      model.isRunning = true;

      // cropperから切り抜き部分のCanvasを取得
      const trimCanvas = cropperRef.value.getCroppedCanvas() as HTMLCanvasElement;

      let image = new Image();
      image.onload = async (): Promise<void> => {
        const imageJS = await ImageJS.load(image.src);

        await resizeImage(imageJS);

        model.viewCanvasWidth = imageJS.width;
        model.viewCanvasHeight = imageJS.height;

        const viewBeforeCanvas = document.getElementById('beforeCanvas') as HTMLCanvasElement;
        // 切り取った二直化前の画像を表示
        const beforeCtx = viewBeforeCanvas.getContext('2d', { willReadFrequently: true }) as CanvasRenderingContext2D;
        // リセット
        beforeCtx.clearRect(0, 0, beforeCtx.canvas.clientWidth, beforeCtx.canvas.clientHeight);

        const greyImage = imageJS.grey();
        beforeCtx.drawImage(await createImageElementFromImage(greyImage), 0, 0);

        let src = beforeCtx.getImageData(0, 0, greyImage.width, greyImage.height);
        let dst = beforeCtx.createImageData(greyImage.width, greyImage.height);

        for (let i = 0; i < src.data.length; i += 4) {
          let r = src.data[i] / 255;
          let g = src.data[i + 1] / 255;
          let b = src.data[i + 2] / 255;
          r = ((r - 0.5) * model.contrast + 0.5) * 255;
          g = ((g - 0.5) * model.contrast + 0.5) * 255;
          b = ((b - 0.5) * model.contrast + 0.5) * 255;

          // RGB値をグレースケールに変換
          let y = 0.2126 * r + 0.7152 * g + 0.0722 * b;

          if (y > model.threshold) {
            y = 255;
          } else {
            y = 0;
          }

          dst.data[i] = y;
          dst.data[i + 1] = y;
          dst.data[i + 2] = y;
          dst.data[i + 3] = src.data[i + 3];
        }

        beforeCtx.putImageData(dst, 0, 0);

        // Sobelエッジ検出を適用する
        const edgeImage = imageJS.sobelFilter();

        const viewCanvas = document.getElementById('canvas') as HTMLCanvasElement;

        let ctx = viewCanvas.getContext('2d', { willReadFrequently: true }) as CanvasRenderingContext2D;

        // imageをHTMLImageElementに変換
        const img = await createImageElementFromImage(edgeImage);

        // 円形に切り抜いてcanvasに描画する
        const drawShapeOfCircle = (
          ctx: CanvasRenderingContext2D,
          image: HTMLImageElement,
          x = 0,
          y = 0,
          width = 0,
          height = 0
        ): void => {
          // ctx.beginPath();
          // ctx.arc(img.width / 2, height / 2, width / 2, 0, Math.PI * 2);
          // ctx.closePath();
          // ctx.clip();

          ctx.drawImage(image, x, y, width, height);
        };

        drawShapeOfCircle(ctx, img, 0, 0, edgeImage.width, edgeImage.height);

        // 透明度を設定して二値化した画像を重ねる
        const binarizationCanvas = document.getElementById('beforeCanvas') as HTMLCanvasElement;
        const binarizationImageJS = ImageJS.fromCanvas(binarizationCanvas);

        ctx.globalAlpha = 0.5;
        drawShapeOfCircle(
          ctx,
          await createImageElementFromImage(binarizationImageJS),
          0,
          0,
          edgeImage.width,
          edgeImage.height
        );

        model.isRunning = false;
      };
      image.src = trimCanvas.toDataURL();
    };

    const createImageElementFromImage = async (image: ImageJS): Promise<HTMLImageElement> => {
      // ImageオブジェクトをBlobに変換
      const blob = await image.toBlob();

      return new Promise((resolve, reject) => {
        const img = new Image();
        img.src = URL.createObjectURL(blob);
        img.onload = (): void => resolve(img);
        img.onerror = (error): void => reject(error);
      });
    };

    const resizeImage = async (image: ImageJS): Promise<ImageJS> => {
      return image.resize({ width: 500, height: 500 });
    };

    const moving = (): void => {
      // ターゲット要素の座標を取得
      const movingTarget = document.getElementById('edit') as HTMLElement;
      const editElementRect = movingTarget.getBoundingClientRect();
      window.scrollTo({
        top: editElementRect.top,
      });
    };

    const movingButtonText = computed(() => {
      // ターゲット要素の座標を取得
      const movingTarget = document.getElementById('edit');

      if (!movingTarget) return;

      const editElementRect = movingTarget.getBoundingClientRect();
      console.log(window.scrollX);
      if (editElementRect.top <= window.scrollY) return '編集する';

      return '画像を切り取る';
    });

    return {
      model,
      selectImage,
      trimming,
      cropperRef,
      previewCanvasRef,
      moving,
      movingButtonText,
    };
  },
});
</script>

<style lang="scss">
#moving {
  position: fixed;
  top: 20px; /* 基準の位置を画面の一番下に指定する */
  right: 100px; /* 基準の位置を画面の一番右に指定する */
}
</style>
