<template>
  <div>
    <template v-if="model.isRunning">
      <div class="loader">Now loading...</div>
    </template>
    <template v-else>
      <div class="" style="width: fit-content; margin: 0 auto">
        <span class="fw-bold">履歴</span>
        <template v-if="!model.isRunning">
          <div v-for="(requestHistory, index) in model.requestHistoryList" :key="index">
            <RequestHistory :requestHistory="requestHistory" @set="setRequest" />
            <hr class="mt-0 mb-0" />
          </div>
        </template>
      </div>

      <div class="mt-3">
        <div>
          <button class="btn btn-success btn-sm me-1" @click="setUri">URI追加</button>
          <input
            v-model="model.path"
            type="text"
            placeholder="http://localhost/api/user/{user_id}"
            style="width: 300px"
          />

          <button class="btn btn-primary ms-1 btn-sm" @click="sendRequest()">送信</button>
        </div>
        <div>
          <input v-model="model.sendType" name="requestType" id="get" type="radio" value="GET" /><label for="get"
            >GET</label
          >
          <input v-model="model.sendType" name="requestType" id="post" type="radio" value="POST" /><label for="post"
            >POST</label
          >
          <input v-model="model.sendType" name="requestType" id="put" type="radio" value="PUT" /><label for="put"
            >PUT</label
          >
          <input v-model="model.sendType" name="requestType" id="delete" type="radio" value="DELETE" /><label
            for="delete"
            >DELETE</label
          >
        </div>
        <template v-if="['POST', 'PUT'].includes(model.sendType)">
          <div v-for="(requestProperty, i) in model.requestPropertyList" :key="i">
            <div>
              <template v-if="model.requestPropertyList[i].isSet">
                <a href="#" @click="editKey(i)">キーを編集</a>
                {{ model.requestPropertyList[i].key }}
                : <input type="text" v-model="model.requestPropertyList[i].value" />
              </template>
              <template v-else>
                <input type="text" v-model="model.requestPropertyList[i].key" />
                <button class="btn btn-success btn-sm" @click="setKey(i)">追加するキーを確定</button>
              </template>
            </div>
          </div>

          <div>
            <button class="btn btn-success btn-sm m-1" @click="incrementProperty">プロパティを追加</button
            ><button class="btn btn-danger btn-sm m-1" @click="decrementProperty" style="background-color: red">
              プロパティを削除
            </button>
          </div>
        </template>

        <div v-if="model.response">
          レスポンス
          <div>
            <textarea v-model="model.response" rows="10" cols="50"> </textarea>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, nextTick, onMounted } from '@vue/composition-api';
import axios from 'axios';
import RequestHistory from './RequestHistory.vue';
import { Request } from '../types/util';

export default defineComponent({
  name: 'HomeView',
  components: {
    RequestHistory,
  },
  props: {},
  setup(cts, props) {
    const model = reactive<{
      path: string;
      sendType: string;
      requestPropertyList: { key: string; value: string; isSet: boolean }[];
      response: unknown;
      requestHistoryList: Request[];
      defaultUri: string;
      isRunning: boolean;
    }>({
      path: '',
      sendType: 'GET',
      requestPropertyList: [{ key: 'key', value: 'value', isSet: false }],
      response: null,
      requestHistoryList: [
        {
          id: 0,
          sendType: 'GET',
          uri: '',
          requestDate: '',
          requestBody: [
            {
              key: '',
              value: '',
            },
          ],
        },
      ],
      defaultUri: '',
      isRunning: false,
    });

    const start = async (): Promise<void> => {
      model.isRunning = true;

      model.defaultUri = process.env.VUE_APP_URI;

      await axios
        .get(model.defaultUri + 'requestHistory')
        .then((res) => {
          model.requestHistoryList = res.data as Request[];

          nextTick(() => {
            model.isRunning = false;
          });
        })
        .catch((e) => {
          setResponse(e.code);
        });
    };
    start();

    const incrementProperty = (): void => {
      model.requestPropertyList.push({ key: 'key', value: 'value', isSet: false });
    };

    const decrementProperty = (): void => {
      model.requestPropertyList.pop();
    };

    const setResponse = (response: unknown): void => {
      model.response = JSON.stringify(response, null, 3);
    };

    const sendRequest = async (): Promise<void> => {
      model.isRunning = true;
      let requestPropertyObject: { [key: string]: string } = {};
      model.requestPropertyList.forEach((requestProperty) => {
        if (requestProperty.isSet) {
          requestPropertyObject[requestProperty.key] = requestProperty.value;
        }
      });

      switch (model.sendType) {
        case 'GET':
        case 'DELETE':
          await axios
            .get(model.path)
            .then((res) => setResponse(res.data))
            .catch((e) => {
              setResponse(e.code);
            });
          break;
        case 'POST':
        case 'PUT':
          await axios
            .post(model.path, requestPropertyObject)
            .then((res) => setResponse(res.data))
            .catch((e) => {
              setResponse(e.code);
            });
          break;
      }

      model.isRunning = false;
    };

    const setKey = (index: number): void => {
      // プロパティを追加して削除
      model.requestPropertyList[index].isSet = true;
    };

    const editKey = (index: number): void => {
      model.requestPropertyList[index].isSet = false;
    };

    const setRequest = (request: Request): void => {
      model.path = request.uri;
      model.sendType = request.sendType;

      const newRequestBody = request.requestBody.map((property) => {
        return {
          isSet: true,
          key: property.key,
          value: property.value,
        };
      });
      model.requestPropertyList = newRequestBody;
    };

    const setUri = (): void => {
      model.path = model.defaultUri;
    };

    return {
      model,
      incrementProperty,
      decrementProperty,
      sendRequest,
      setKey,
      editKey,
      setRequest,
      setUri,
    };
  },
});
</script>

<style lang="scss">
.loader {
  color: #5c9aff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
      -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em,
      -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0,
      -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0,
      -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
      -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0,
      -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
      -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em,
      -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0,
      -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0,
      -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
      -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0,
      -2em -2em 0 0.2em;
  }
}
</style>
