<template>
  <div id="app">
    <table>
      <tbody>
        <div class="history">
          <tr>
            <td>{{ model.requestHistory.requestDate }} : {{ model.requestHistory.uri }}</td>
            <td>
              <button
                @click="setRequest()"
                class="btn btn-success btn-sm"
                style="font-size: 11px; height: 20px; margin: 0 auto"
              >
                適用
              </button>
            </td>
          </tr>
          <div class="historyDetail">
            <div class="text-start">
              <span class="fw-bold">{{ model.requestHistory.sendType }}</span> :
              <span>{{ model.requestHistory.uri }}</span>
            </div>
            <div class="text-start" v-if="model.requestHistory.requestBody.length > 0">
              <hr class="mt-0 mb-0" />
              <span class="fw-bold">リクエスト</span>
              <hr class="mt-0 mb-0" />
              <div v-for="(requestBody, index) in model.requestHistory.requestBody" :key="index">
                {{ requestBody.key }}: {{ requestBody.value }}
              </div>
            </div>
          </div>
        </div>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, computed, PropType } from '@vue/composition-api';
import { Request } from '../types/util';

export default defineComponent({
  name: 'RequestHistory',
  components: {},
  props: {
    requestHistory: {
      type: Object as PropType<Request>,
      required: true,
    },
  },
  setup(props, ctx) {
    const model = reactive<{
      path: string;
      requestPropertyList: { key: string; value: string; isSet: boolean }[];
      response: unknown;
      requestHistory: Request;
    }>({
      path: '',
      requestPropertyList: [{ key: 'key', value: 'value', isSet: false }],
      response: null,
      requestHistory: {
        id: 0,
        sendType: 'GET',
        uri: '',
        requestDate: '',
        requestBody: [
          {
            key: '',
            value: '',
          },
        ],
      },
    });

    const start = (): void => {
      model.requestHistory = props.requestHistory;
    };
    start();

    const diplayDate = computed((): string => {
      const date = new Date();
      const y = date.getFullYear();
      const m = ('00' + (date.getMonth() + 1)).slice(-2);
      const d = ('00' + date.getDate()).slice(-2);
      return y + '-' + m + '-' + d;
    });
    const closeModal = (): void => {
      ctx.root.$modal.hide('HistoryDetailModal');
    };

    const setRequest = (): void => {
      ctx.emit('set', model.requestHistory);
    };

    return {
      model,
      diplayDate,
      closeModal,
      setRequest,
    };
  },
});
</script>

<style lang="scss">
table {
  margin: auto;
}
.history {
  position: relative; /* 指定した分だけ相対的に移動 */
}
.history:hover .historyDetail {
  display: inline; /* インライン要素として表示 */
}
.historyDetail {
  position: absolute; /* 親要素を基準 */
  display: none; /* 要素を非表示 */
  padding: 2px; /* テキストの前後の余白 */
  background-color: whitesmoke;
  width: 300px; /* 吹き出し全体の幅 */
  left: 0%; /* 表示位置 */
  top: 60%; /* 表示位置 */
  margin-top: 12px; /* 表示位置 */
  font-size: 80%; /* 文字サイズ */
  z-index: 10000;
}
.historyDetail:after {
  border-bottom: 12px solid rgba(255, 255, 255, 0.91); /* 吹き出し口の高さ・色 */
  border-left: 10px solid transparent; /* 吹き出し口の幅１／２ */
  border-right: 10px solid transparent; /* 吹き出し口の幅１／２ */
  top: -12px; /* 吹き出し口の位置調整 */
  left: 5%; /* 吹き出し口の横位置 */
  content: ''; /* コンテンツの挿入 */
  position: absolute; /* 親要素を基準 */
}
</style>
